{% extends 'base.html' %}

{% block title%}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Covid longa - Casos por município</h1>
    <hr>
    <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Selecione o município</option>
          <option value="acessosjc">São José Dos Campos</option>
          <option value="acessotaubate">Taubaté</option>
          <option value="acessojacarei">Jacareí</option>
          <option value="acessocaçapava">Caçapava</option>
          <option value="acessoaparecida">Aparecida</option>
        </select>
      </div>

      <map name="mapa">
        <area id="aparecida" shape="rect" coords="298,132,348,182" href="/acessoaparecida" alt="Aparecida">
        <a href="/acessocacapava">
          <area id="cacapava" shape="rect" coords="132,179,182,229" href="/acessocacapava" alt="Caçapava">
        </a>
        <area id="jacarei" shape="rect" coords="43,241,93,291" href="/acessojacarei" alt="Jacareí">
        <area id="sjc" shape="rect" coords="52,127,102,177" href="/acessosjc" alt="São José dos Campos">
        <area id="taubate" shape="rect" coords="162,172,212,222" href="/acessotaubate" alt="Taubaté">
      </map>

    <img id ='mapa' src="../static/mapas/mapavale.jpg" alt="mapa" class="mapa-img" usemap="#mapa">

    <div class="legenda">
        <div class="p-mapa">
            <p>Selecione o município que deseja visualizar</p>
        </div>
    </div>
    <div id="imagemArea"></div>
    <script src="../static/js/mapa.js"></script>

{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}
