{% extends 'base.html' %}

{% block title%}
    <title>Home</title>
{% endblock %}

{% block botoes %}
<div class="botao">
    <a href='quemsomos.html'><button>Quem somos</button></a>
    <a href='acessomunicipio.html'><button>Home</button></a>
</div>
{% endblock %}

{% block body %}
    <h1>Covid longa - Casos por município</h1>
    <hr>
    <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Selecione o município</option>
          <option value="/municipios/acessosjc.html">São José Dos Campos</option>
          <option value="/municipios/acessotaubate.html">Taubaté</option>
          <option value="/municipios/acessojacarei.html">Jacareí</option>
          <option value="/municipios/acessocaçapava.html">Caçapava</option>
          <option value="/municipios/acessoaparecida.html">Aparecida</option>
        </select>
      </div>

    <img src="../static/mapas/mapavale.jpg" alt="mapa" class="mapa-img">
    <div class="legenda">
        <div class="p-mapa">
            <p>Selecione o município que deseja visualizar</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}