<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.jpg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">

    {% block title %}

    {% endblock %}

</head>
<body>
    <header>
        <img src="../static/logodata-sars.png" alt="Logo Data-Sars" id="logo">
    </header>
    <nav>
        {% block botoes %}

        {% endblock %}
    </nav>

    {% block body %}

    {% endblock %}

    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>

</body>
</html>