{% extends 'base.html' %}

    {% block title %}
    <title>Página Inicial</title>
    {% endblock %}
    
    {% block botoes %}
    <div class="botao">
        <button><a href='quemsomos.html'>Quem somos</a></button>
        <button><a href='acessomunicipio.html'>Home</a></button>
    </div>
    {% endblock %}

    {% block body %}
    <h1>Bem-Vindo(a)</h1>
    <hr>
    <h2>Introdução</h2>
    <p>eu sou um texto que irá apresentar a introdução do projeto, irei falar sobre a ideia por <br>trás e como funciona o site.</p>

        <div class="continuar">
            <button><a href='acessomunicipio.html'>Continuar</a></button>
        </div>

        <img src="../static/mapas/mapa.PNG" alt="mapa" class="index-img">

    <div class="vale">
        <div class="p-mapa">
        <p>Mapa - Vale do Paraíba</p>
        </div>
    </div>

    {% endblock %}