{% extends 'base.html' %}

    {% block title %}
    <title>Página Inicial</title>
    {% endblock %}

    {% block body %}
    <h1 class="titulo-pagina">Bem-Vindo(a)</h1>
    <hr>
    <h2>Introdução</h2>
    <div class="introducao">
        <div class="texto-introducao">
             <p>Após pandemia, uma outra situação vem sendo objeto de estudo por parte da comunidade científica, da comunidade <br> médica e do poder público: é a chamada Covid Longa. <br></br> A Covid Longa se trata da situação de algumas pessoas que foram infectadas pelo SARS CoV-2, vírus que causa a <br> COVID-19, têm experienciado sintomas mesmo após o final de sua infecção.
                <br></br>Desse modo, na área de abrangência da Rede Vanguarda, foi criado um sistema Data SARS para que os jornalistas <br> viabilizem reportagens sobre o tema do Covid Longa, com os dados e gráficos regionalizados e com os períodos de <br> pré, durante e pós pandemia, sobre consultas, tratamentos, procedimento e uso de medicamentos.</p>
        </div>
            <div id="mapa-index">
                <img src="../static/mapas/mapa.svg" alt="Mapa do Vale do Paraíba" class="index-img">
            </div>
    
        <div class="continuar">
            <a href='acessomunicipio'><button>Continuar</button></a>
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    <footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    {% endblock %}
