{% extends 'base.html' %}

    {% block title %}
    <title>Página Inicial</title>
    {% endblock %}
    
    {% block botoes %}
    <div class="botao">
        <a href='quemsomos.html'><button>Quem somos</button></a>
        <a href='acessomunicipio.html'><button>Home</button></a>
    </div>
    {% endblock %}

    {% block body %}
    <h1>Bem-Vindo(a)</h1>
    <hr>
    <h2>Introdução</h2>
    <p>eu sou um texto que irá apresentar a introdução do projeto, irei falar sobre a ideia por <br>trás e como funciona o site.</p>

        <div class="continuar">
            <a href='acessomunicipio.html'><button>Continuar</button></a>
        </div>

        <img src="../static/mapas/mapa.PNG" alt="mapa" class="index-img">

    <div class="vale">
        <div class="p-mapa">
        <p>Mapa - Vale do Paraíba</p>
        </div>
    </div>

    {% endblock %}

    {% block footer %}
    <footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
    {% endblock %}