{% extends 'base.html' %}

{% block title %}
    <title>Acesso - SJC</title>
{% endblock %}

{% block botoes %}
<div class="botao">
    <button><a href='../quemsomos.html'>Quem somos</a></button>
    <button><a href='../acessomunicipio.html'>Home</a></button>
</div>
{% endblock %}

{% block body %}
    <h1>Jacareí  Covid longa - Casos por município</h1>
    <hr>
    <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Jacareí</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>
    
    <div class="cidade">
        <h2>Jacareí</h2>
    </div>

    <img src="../../static/mapas/jacarei.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
    <div class="link-grafico">
        <button> <a href="graficos_jacarei.html">Visualizar gráficos</a> </button>
    </div>
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}