{% extends 'base.html' %}

{% block title %}
    <title>Acesso - SJC</title>
{% endblock %}

{% block botoes %}
<div class="botao">
  <a href='../quemsomos.html'><button>Quem somos</button></a>
  <a href='../acessomunicipio.html'><button>Home</button></a>
</div>
{% endblock %}

{% block body %}
    <h1>São José Dos Campos - Covid longa</h1>
    <hr>

    <div class="campo">
        <select id="municipio"  onchange="window.location.href = this.value;">
          <option selected disabled value="">São José Dos Campos</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>

      <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Selecionar categoria</option>
          <option value="graficos_consultas_sjc.html">Consultas</option>
          <option value="graficos_medicamentos_sjc.html">Medicamentos</option>
          <option value="graficos_internacoes_sjc.html">Internações</option>
        </select>
      </div>    

    <div class="cidade">
        <h2>São José Dos Campos</h2>
    </div>

    <img src="../../static/mapas/saojose.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}