{% extends 'base.html' %}

{% block title %}
    <title>Acesso - Jacareí</title>
{% endblock %}

{% block botoes %}
<div class="botao">
  <a href='../quemsomos.html'><button>Quem somos</button></a>
  <a href='../acessomunicipio.html'><button>Home</button></a>
</div>
{% endblock %}

{% block body %}
    <h1>Jacareí  Covid longa - Casos por município</h1>
    <hr>
    <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Jacareí</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>
    
      <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Selecionar categoria</option>
          <option value="graficos_consultas_jacarei.html">Consultas</option>
          <option value="graficos_medicamentos_jacarei.html">Medicamentos</option>
          <option value="graficos_internacoes_jacarei.html">Internações</option>
        </select>
      </div>

    <div class="cidade">
        <h2>Jacareí</h2>
    </div>

    <img src="../../static/mapas/jacarei.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}