{% extends 'base.html' %}

{% block title %}
    <title>Acesso - SJC</title>
{% endblock %}

{% block botoes %}
<div class="botao">
    <button><a href='../quemsomos.html'>Quem somos</a></button>
    <button><a href='../acessomunicipio.html'>Home</a></button>
</div>
{% endblock %}

{% block body %}
    <h1>Caçapava - Covid longa</h1>
    <hr>
    <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Caçapava</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>
    
    <div class="cidade">
        <h2>Caçapava</h2>
    </div>

    <div class="registro">
        <h3>Casos Registrados:000,000 </h3>
        <h3>Quantidade de vacinados: Casos Registrados:000,000 </h3>
        <h3>Quantidade de Óbitos:000,000 </h3>
    </div>
    <img src="../../static/mapas/caçapava.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
    <div class="link-grafico">
        <button> <a href="graficos_caçapava.html">Visualizar gráficos</a> </button>
    </div>
{% endblock %}