{% extends 'base.html' %}

{% block title %}
    <title>Acesso - Aparecida</title>
{% endblock %}

{% block body %}
    <h1>Aparecida - Covid longa</h1>
    <hr>
    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Aparecida</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Selecione a categoria</option>
        <option value="graficos_consultas_aparecida">Consultas</option>
        <option value="graficos_medicamentos_aparecida">Medicamentos</option>
        <option value="graficos_internacoes_aparecida">Internações</option>
        <option value="graficos_gastos_aparecida">Gastos</option>
      </select>
    </div>

    <div class="cidade">
        <h2>Aparecida</h2>
    </div>

    <img src="../../static/mapas/aparecida.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}