{% extends 'base.html' %}

{% block title %}
    <title>Acesso - Taubaté</title>
{% endblock %}

{% block body %}
    <h1>Taubaté  Covid longa - Casos por município</h1>
    <hr>
    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Taubaté</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>
    
    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Selecione a categoria</option>
        <option value="graficos_consultas_taubate">Consultas</option>
        <option value="graficos_medicamentos_taubate">Medicamentos</option>
        <option value="graficos_internacoes_taubate">Internações</option>
        <option value="graficos_gastos_taubate">Gastos</option>
      </select>
    </div>

    <div class="cidade">
        <h2>Taubaté</h2>
    </div>

    <img src="../../static/mapas/taubate.jpg" alt="Descrição da imagem do mapa" class="mapa-img">
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}