{% extends 'base.html' %}

{% block title %}
    <title>Gráficos de consultas - Taubaté</title>
{% endblock %}

{% block body %}
    <h1>Taubaté - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Taubaté</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Consultas</option>
        <option value="graficos_consultas_taubate">Consultas</option>
        <option value="graficos_medicamentos_taubate">Medicamentos</option>
        <option value="graficos_internacoes_taubate">Internações</option>
        <option value="graficos_gastos_taubate">Gastos</option>
      </select>
    </div><br>

    <div class="alinhar">
      <img src="../../static/graficos_consultas/consultas_taubaté.png" class="alinhar-consultas" alt="consultas_taubaté.png">
      <img src="../../static/graficos_consultas/total_consultas_taubaté.png" class="alinhar-consultas" alt="total_consultas_taubaté.png">
    </div>
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}