{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Jacareí</title>
{% endblock %}

{% block body %}
    <h1>Jacareí - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Jacareí</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Gastos</option>
        <option value="graficos_consultas_jacarei">Consultas</option>
        <option value="graficos_medicamentos_jacarei">Medicamentos</option>
        <option value="graficos_internacoes_jacarei">Internações</option>
        <option value="graficos_gastos_jacarei">Gastos</option>
      </select>
    </div><br>
    <div class="alinhar">
      <img src="../../static/graficos_gastos/GráficoGastosporAnoJacarei.svg" alt="Os 5 maiores gastos por ano em Jacareí">
      <img src="../../static/graficos_gastos/aplicacao_recursos_saude_jacarei.png" alt="Aplicação de recursos na saúde por quadrimestre em Jacareí">
  </div>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}