{% extends 'base.html' %}

{% block title %}
    <title>Gráficos de consultas - Taubaté</title>
{% endblock %}

{% block body %}
    <h1>Taubaté - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Taubaté</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Consultas</option>
        <option value="graficos_consultas_taubate">Consultas</option>
        <option value="graficos_medicamentos_taubate">Medicamentos</option>
        <option value="graficos_internacoes_taubate">Internações</option>
        <option value="graficos_gastos_taubate">Gastos</option>
      </select>
    </div><br>

    <div class="gf">
      <canvas id="myChart1"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    
    const ctx1 = document.getElementById('myChart1');
    
    new Chart(ctx1, {
    type: 'bar',
    data: {
        labels:  [2020,2021,2022],
        datasets: [{
        label: "Total de consultas com sintomas gripais:",
        data: [264,296,1032],
        borderWidth: 1
        }, {
        label: "Total de consultas COVID-19",
        data: [77,60,548],
        borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
        y: {
            beginAtZero: true
        }
        }
    }
    });
    </script>

  <div class="gf">
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  
  const ctx = document.getElementById('myChart');
  
  new Chart(ctx, {
  type: 'bar',
  data: {
      labels:  [2019,2020,2021,2022],
      datasets: [{
      label: "Total de consultas",
      data: [228437,272837,181974,241334],
      borderWidth: 1
      }]
  },
  options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
      y: {
          beginAtZero: true
      }
      }
  }
  });
  
  </script>
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}