{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Caçapava</title>
{% endblock %}

{% block body %}
    <h1>Caçapava - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Caçapava</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Medicamentos</option>
        <option value="graficos_consultas_cacapava">Consultas</option>
        <option value="graficos_medicamentos_cacapava">Medicamentos</option>
        <option value="graficos_internacoes_cacapava">Internações</option>
        <option value="graficos_gastos_cacapava">Gastos</option>
      </select>
    </div><br>
    
    <div class="gf">
      <canvas id="myChart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
    
    const ctx = document.getElementById('myChart');
    
    new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  [2019,2020,2021,2022],
        datasets: [{
        label: "Total gasto com medicamentos",
        data: [2144668.19,1866232.82,1310790.24,1902287.25],
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)'
          ],
          borderColor: [
          'rgb(75, 192, 192)'
          ],
        borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
        y: {
            beginAtZero: true
        }
        }
    }
    });
    
    </script>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}