{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - SJC</title>
{% endblock %}

{% block botoes %}
<div class="botao">
  <a href='../quemsomos.html'><button>Quem somos</button></a>
  <a href='../acessomunicipio.html'><button>Home</button></a>
</div>
{% endblock %}
{% block body %}
    <h1>São José Dos Campos - Covid longa</h1>
    <hr>

    <div class="campo">
        <select id="municipio"  onchange="window.location.href = this.value;">
          <option selected disabled value="">São José Dos Campos</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>
    <div class="alinhar">
      <img src="../../static/graficos_sjc/Casos de Internações_Doenças do aparelho circulatório-SAO JOSE DOS CAMPOS.png" alt="Casos de Internações - Doenças do aparelho circulatório - SJC">
      <img src="../../static/graficos_sjc/Casos de Internações_Doenças do aparelho digestivo-SAO JOSE DOS CAMPOS.png" alt="Casos de Internações - Doenças do aparelho digestivo - SJC">
      <img src="../../static/graficos_sjc/Casos de Internações_Doenças do aparelho respiratório-SAO JOSE DOS CAMPOS.png" alt="Casos de Internações - Doenças do aparelho respiratório - SJC">
      <img src="../../static/graficos_sjc/Casos de Internações_Doenças do sistema nervoso-SAO JOSE DOS CAMPOS.png" alt="Casos de Internações - Doenças do sistema nervoso - SJC">
    </div>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}