{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Aparecida</title>
{% endblock %}

{% block body %}
    <h1>Aparecida - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Aparecida</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Internações</option>
        <option value="graficos_consultas_aparecida">Consultas</option>
        <option value="graficos_medicamentos_aparecida">Medicamentos</option>
        <option value="graficos_internacoes_aparecida">Internações</option>
        <option value="graficos_gastos_aparecida">Gastos</option>
      </select>
    </div><br>
    {% for cap in dados %}
      <div>
        <canvas id="myChart{{ dados.index(cap) }}"></canvas>
      </div>
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      {% for cap in dados %}
      const ctx{{ dados.index(cap) }} = document.getElementById('myChart{{ dados.index(cap) }}');

      new Chart(ctx{{ dados.index(cap) }}, {
      type: 'bar',
      data: {
          labels: {{ cap[1] }},
          datasets: [{
          label: "{{ cap[0] }}",
          data: {{ cap[2] }},
          borderWidth: 1
          }]
      },
      options: {
          scales: {
          y: {
              beginAtZero: true
          }
          }
      }
      });
      {% endfor %}
    </script>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}