{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Caçapava</title>
{% endblock %}

{% block body %}
    <h1>Caçapava - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Caçapava</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Medicamentos</option>
        <option value="graficos_consultas_cacapava">Consultas</option>
        <option value="graficos_medicamentos_cacapava">Medicamentos</option>
        <option value="graficos_internacoes_cacapava">Internações</option>
        <option value="graficos_gastos_cacapava">Gastos</option>
      </select>
    </div><br>

{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}