{% extends 'base.html' %}

{% block title %}
    <title>Gráficos de consultas - São José Dos Campos</title>
{% endblock %}

{% block body %}
    <h1>São José dos Campos - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">São José Dos Campos</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Consultas</option>
        <option value="graficos_consultas_sjc">Consultas</option>
        <option value="graficos_medicamentos_sjc">Medicamentos</option>
        <option value="graficos_internacoes_sjc">Internações</option>
        <option value="graficos_gastos_sjc">Gastos</option>
      </select>
    </div><br>

    <div class="gf">
      <canvas id="myChart1"></canvas>
      <a class="fontes" href="https://sisaps.saude.gov.br/painelsaps/atendimento" target="_blank"> Fonte: https://sisaps.saude.gov.br/painelsaps/atendimento </a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <div class="gf">
    <canvas id="myChart"></canvas>
    <a class="fontes" href="https://sisaps.saude.gov.br/painelsaps/atendimento" target="_blank"> Fonte: https://sisaps.saude.gov.br/painelsaps/atendimento </a>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../../static/js/graficos_consultas/graficos_consultas_sjc.js"></script>
  
{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}
