{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Taubaté</title>
{% endblock %}

{% block botoes %}
<div class="botao">
    <button><a href='../quemsomos.html'>Quem somos</a></button>
    <button><a href='../acessomunicipio.html'>Home</a></button>
</div>
{% endblock %}
{% block body %}
    <h1>Taubaté - Covid longa</h1>
    <hr>

    <div class="campo">
        <select id="municipio"  onchange="window.location.href = this.value;">
          <option selected disabled value="">Taubaté</option>
          <option value="acessosjc.html">São José Dos Campos</option>
          <option value="acessotaubate.html">Taubaté</option>
          <option value="acessojacarei.html">Jacareí</option>
          <option value="acessocaçapava.html">Caçapava</option>
          <option value="acessoaparecida.html">Aparecida</option>
        </select>
      </div>

      <div class="campo">
        <select id="municipio" onchange="window.location.href = this.value;">
          <option selected disabled value="">Internações</option>
          <option value="graficos_consultas_taubate.html">Consultas</option>
          <option value="graficos_internacoes_taubate.html">Internações</option>
        </select>
      </div><br>

    <div class="alinhar">
      <img src="../../static/graficos_internacoes/Casos de Internações_Doenças do aparelho circulatório-TAUBATE.png" alt="Casos de Internações - Doenças do aparelho circulatório - Taubaté">
      <img src="../../static/graficos_internacoes/Casos de Internações_Doenças do aparelho digestivo-TAUBATE.png" alt="Casos de Internações - Doenças do aparelho digestivo - Taubaté">
      <img src="../../static/graficos_internacoes/Casos de Internações_Doenças do aparelho respiratório-TAUBATE.png" alt="Casos de Internações - Doenças do aparelho respiratório - Taubaté">
      <img src="../../static/graficos_internacoes/Casos de Internações_Doenças do sistema nervoso-TAUBATE.png" alt="Casos de Internações - Doenças do sistema nervoso - Taubaté">
    </div>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}