{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Jacareí</title>
{% endblock %}

{% block body %}
    <h1>Jacareí - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Jacareí</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Gastos</option>
        <option value="graficos_consultas_jacarei">Consultas</option>
        <option value="graficos_medicamentos_jacarei">Medicamentos</option>
        <option value="graficos_internacoes_jacarei">Internações</option>
        <option value="graficos_gastos_jacarei">Gastos</option>
      </select>
    </div><br>

  <!-- Gráfico 5 maiores gastos e Recursos na saúde -->
  <div class="gf" style="display: flex;justify-content: center;flex-direction: column;">
    <h1>Quadro de Aplicação de Recursos na Saúde</h1>
    <canvas id="mychartg"></canvas>
  </div>
  
  <div class="gf">
    <canvas id="myChart"></canvas>
    <a class="fontes" href="https://siap.jacarei.sp.gov.br/portal-transparencia/execucao/despesas-detalhadas" target="_blank"> Fonte: https://siap.jacarei.sp.gov.br/portal-transparencia/execucao/despesas-detalhadas </a>  
  </div>

  <!-- Legendas -->
  <div class="legendas">
    <!-- Lista dos anos -->
    <ul>
      <!-- 2019 -->
      <li>
        2019
        <!-- Lista dos gastos -->
        <ol>
          <li>Vencimentos e Vantagens Fixas Pessoal Civil</li>
          <li>Outros Serviços de Terceiros Pessoa Jurídica</li>
          <li>Outros Serviços de Terceiros - Pessoa Jurídica</li>
          <li>Obrigações Patronais - Intra-Orçamentário</li>
          <li>Principal da Dívida Contratual Resgatada</li>
        </ol>
      </li>
      <!-- 2020 -->
      <li>
        2020
        <!-- Lista dos gastos -->
        <ol>
          <li>Vencimentos e Vantagens Fixas Pessoal Civil</li>
          <li>Outros Serviços de Terceiros Pessoa Jurídica</li>
          <li>Outros Serviços de Terceiros - Pessoa Jurídica</li>
          <li>Obras e Instalações</li>
          <li>Obrigações Patronais - Intra-Orçamentário</li>
        </ol>
      </li>
      <!-- 2021 -->
      <li>
        2021
        <!-- Lista dos gastos -->
        <ol>
          <li>Vencimentos e Vantagens Fixas Pessoal Civil</li>
          <li>Outros Serviços de Terceiros Pessoa Jurídica</li>
          <li>Outros Serviços de Terceiros - Pessoa Jurídica</li>
          <li>Obras e Instalações</li>
          <li>Obrigações Patronais - Intra-Orçamentário</li>
        </ol>
      </li>
      <!-- 2022 -->
      <li>
        2022
        <!-- Lista dos gastos -->
        <ol>
          <li>Outros Serviços de Terceiros Pessoa Jurídica</li>
          <li>Vencimentos e Vantagens Fixas Pessoal Civil</li>
          <li>Outros Serviços de Terceiros - Pessoa Jurídica</li>
          <li>Aquisição de Imóveis</li>
          <li>Obras e Instalações</li>
        </ol>
      </li>
    </ul>
  </div>

  <!-- Script do Gráfico -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    // Instanciando os dois gráficos
    const ctx = document.getElementById('myChart');
    const ct = document.getElementById('mychartg');

    // Recursos na saúde
    new Chart(ct, {
    type: 'bar',
    data: {
      labels: ["1º Quadrimestre", "2º Quadrimestre", "3º Quadrimestre", "4º Quadrimestre"],
      datasets: [{
        label: "2019",
        data: [43983823.1, 91364516.49, 139210658.44],
        borderWidth: 1
        },
        {
        label: "2020",
        data: [45386187.32, 0, 131249878.53],
        borderWidth: 1
        },
        {
        label: "2021",
        data: [54339012.97, 112870092.75, 174315204.75],
        borderWidth: 1
        },
        {
        label: "2022",
        data: [58691735.23, 124443335.47, 199151357.19],
        borderWidth: 1
        },
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  // 5 Maiores gastos
  new Chart(ctx, {
  type: 'bar',
  data: {
      labels: [2019, 2020, 2021, 2022],
      datasets: [
      {% for ordem in gastos %}
      {
      label: "{{ gastos.index(ordem)+1 }}º Maior gasto",
      data: {{ ordem }},
      backgroundColor: [
        "{{ cores[gastos.index(ordem)] }}"
      ],
      borderWidth: 1
      },
      {% endfor %}
    ]
  },
  options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
      y: {
          beginAtZero: true
      }
      }
  }
  });
</script>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}
