{% extends 'base.html' %}

{% block title %}
    <title>Gráficos - Caçapava</title>
{% endblock %}

{% block body %}
    <h1>Caçapava - Covid longa</h1>
    <hr>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Caçapava</option>
        <option value="acessosjc">São José Dos Campos</option>
        <option value="acessotaubate">Taubaté</option>
        <option value="acessojacarei">Jacareí</option>
        <option value="acessocaçapava">Caçapava</option>
        <option value="acessoaparecida">Aparecida</option>
      </select>
    </div>

    <div class="campo">
      <select id="municipio" onchange="window.location.href = this.value;">
        <option selected disabled value="">Gastos</option>
        <option value="graficos_consultas_cacapava">Consultas</option>
        <option value="graficos_medicamentos_cacapava">Medicamentos</option>
        <option value="graficos_internacoes_cacapava">Internações</option>
        <option value="graficos_gastos_cacapava">Gastos</option>
      </select>
    </div><br>

    <div class="gf" style="display: flex;justify-content: center;">
      <canvas id="mychartg"></canvas>
    </div>

    <!-- Gráfico 5 maiores gastos -->
    <div class="gf">
      <canvas id="myChart"></canvas>
      <a class="fontes" href="https://transparencia.cacapava.sp.gov.br/TDAPortalClient.aspx?417" target="_blank"> Fonte: https://transparencia.cacapava.sp.gov.br/TDAPortalClient.aspx?417 </a>  
    </div>

    <!-- Legendas -->
    <div class="legendas">
      <!-- Lista dos anos -->
      <ul>
        <!-- 2019 -->
        <li>
          2019
          <!-- Lista dos gastos -->
          <ol>
            <li>Funcionamento do Ensino Fundamental</li>
            <li>Manutencao dos Servicos Administrativos</li>
            <li>Manter/ampliar Area de Cobertura do Psf Programa Saude da Familia</li>
            <li>Manutencao dos Servicos Administrativos</li>
            <li>Funcionamento da Pre-escola</li>
          </ol>
        </li>
        <!-- 2020 -->
        <li>
          2020
          <!-- Lista dos gastos -->
          <ol>
            <li>Funcionamento do Ensino Fundamental</li>
            <li>Manutencao dos Servicos Administrativos</li>
            <li>Manter/ampliar Area de Cobertura do Psf Programa Saude da Familia</li>
            <li>Funcionamento da Pre-escola</li>
            <li>Coleta/destinacao do Lixo Domiciliar e Hospitalar</li>
          </ol>
        </li>
        <!-- 2021 -->
        <li>
          2021
          <!-- Lista dos gastos -->
          <ol>
            <li>Funcionamento do Ensino Fundamental</li>
            <li>Manutencao dos Servicos Administrativos</li>
            <li>Manter/ampliar Area de Cobertura do Psf Programa Saude da Familia</li>
            <li>Funcionamento da Pre-escola</li>
            <li>Manutencao dos Servicos Administrativos</li>
          </ol>
        </li>
        <!-- 2022 -->
        <li>
          2022
          <!-- Lista dos gastos -->
          <ol>
            <li>Funcionamento do Ensino Fundamental</li>
            <li>Conservacao de Vias Publicas</li>
            <li>Manutencao dos Servicos Administrativos</li>
            <li>Funcionamento da Educacao Infantil - Pre Escola</li>
            <li>Atendimento em Clinicas Basicas nos Postos de Saude</li>
          </ol>
        </li>
      </ul>
    </div>

    <!-- Script do Gráfico -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById('myChart');
      const ct = document.getElementById('mychartg');
      
      new Chart(ct, {
      type: 'bar',
      data: {
        labels: ["Aplicação de recursos na saúde por ano"],
        datasets: [{
          label: "2019",
          data: [56519952.17],
          backgroundColor: [
            "rgb(48, 69, 88)"
          ],
          borderWidth: 1
          },
          {
          label: "2020",
          data: [108731494],
          backgroundColor: [
            "rgb(48, 69, 88)"
          ],
          borderWidth: 1
          },
          {
          label: "2021",
          data: [72271852.54],
          backgroundColor: [
            "rgb(48, 69, 88)"
          ],
          borderWidth: 1
          },
          {
          label: "2022",
          data: [72919950.27],
          backgroundColor: [
            "rgb(48, 69, 88)"
          ],
          borderWidth: 1
          }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

      new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [2019, 2020, 2021, 2022],
          datasets: [
          {% for ordem in gastos %}
          {
          label: "{{ gastos.index(ordem)+1 }}º Maior gasto",
          data: {{ ordem }},
          backgroundColor: [
            "{{ cores[gastos.index(ordem)] }}"
          ],
          borderWidth: 1
          },
          {% endfor %}
        ]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
          y: {
              beginAtZero: true
          }
          }
      }
      });
  </script>
{% endblock %}

{% block footer %}
<footer class="footer-relative">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}
