{% extends 'base.html' %}

{% block title %}
    <title>Quem Somos</title>
{% endblock %}

{% block botoes %}
<div class="botao">
    <a href='../quemsomos.html'><button>Quem somos</button></a>
    <a href='../acessomunicipio.html'><button>Home</button></a>
</div>
{% endblock %}

{% block body %}
    <h1>Syntax Squad</h1>
    <hr>
    <div class="campo">
        <select id="integrante" onchange="window.location.href = this.value;">
            <option selected disabled value="">Diego Dias</option>
            <option value="diego.html">Diego Dias</option>
            <option value="gabrielf.html">Gabriel Felipe</option>
            <option value="gabrieldeo.html">Gabriel de Oliveira</option>
            <option value="joao.html">João Vitor</option>
            <option value="lucas.html">Lucas Langeani</option>
            <option value="mateus.html">Mateus Henrique</option>
            <option value="ryan.html">Ryan Araujo</option>
            <option value="wellington.html">Wellington Luiz</option>
            <option value="../quemsomos.html">Sobre Nós</option>
        </select>
    </div>
    <h2>Diego Dias</h2>
    <p>sou o texto que irá apresentar o integrante da equipe, suas informações como: redes sociais,<br> idade, etc.</p>
    <img src="../../static/integrantes/diego.jpg" alt="Foto do Diego" class="foto">
   
    <img src="../static/git_icon.png" alt="Ícone - Github" class="github">
   
    <a href="https://github.com/diegoboasorte" target="_blank" class="gitlink"> <h3> diegoboasorte </h3></a>

{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}