{% extends 'base.html' %}

{% block title %}
    <title>Quem Somos</title>
{% endblock %}

{% block body %}
    <h1>Syntax Squad</h1>
    <hr>
    <div class="campo">
        <select id="integrante" onchange="window.location.href = this.value;">
            <option selected disabled value="">Wellington Luiz</option>
            <option value="diego">Diego Dias</option>
            <option value="gabrielf">Gabriel Felipe</option>
            <option value="gabrieldeo">Gabriel de Oliveira</option>
            <option value="joao">João Vitor</option>
            <option value="lucas">Lucas Langeani</option>
            <option value="mateus">Mateus Henrique</option>
            <option value="ryan">Ryan Araujo</option>
            <option value="wellington">Wellington Luiz</option>
            <option value="quemsomos">Sobre Nós</option>
        </select>
    </div>
    <h2>Wellington Luiz</h2>
    <div class="conteudo-sobre">
        <div class="sobrenos">
            <p>sou o texto que irá apresentar o integrante da equipe, suas informações como: redes sociais,<br> idade, etc.</p>
        </div>

        <div class="imagem-grupo">
            <img src="../../static/integrantes/wellington.jpg" alt="Foto do Wellington" class="foto">
        </div>
    </div>

    <div class="git-grupo">
        <a href="https://github.com/WellingtonLFaria" target="_blank"> <img src="../static/github.png" alt="Ícone - Github" class="github"> </a>

        <a href="https://github.com/WellingtonLFaria" target="_blank" class="gitlink"> <h3> WellingtonLFaria </h3></a>
    </div>

{% endblock %}

{% block footer %}
<footer class="footer">Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
{% endblock %}