<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/favicon.jpg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

    {% block title %}

    {% endblock %}

</head>
<body>
    <header>

    </header>
    <nav>
        <div class="botao">
            <button><a href='quemsomos.html'>Quem somos</a></button>
            <button><a href='acessomunicipio.html'>Home</a></button>
        </div>
    </nav>

    {% block body %}

    {% endblock %}
        
    <footer>Copyright © 2023 Syntax Squad | Todos os direitos reservados</footer>
</body>
</html>