{% extends 'base.html' %}

    {% block title %}
    <title>Página Inicial</title>
    {% endblock %}

    {% block body %}
    <h1>Bem-Vindo(a)</h1>
    <hr>
    <h2>Introdução</h2>
    <p>eu sou um texto que irá apresentar a introdução do projeto, irei falar sobre a ideia por <br>trás e como funciona o site.</p>
    <img src="../static/mapa.PNG" alt="mapa" class="mapa-img">
    <div class="legenda">
        <div class="p-mapa">
        <p>Mapa - Vale do Paraíba</p>
        </div>
    </div>

    {% endblock %}