{% extends 'base.html' %}

{% block title %}
    <title>Quem Somos</title>
{% endblock %}

{% block body %}
    <h1>Syntax Squad</h1>
    <hr>
    <h2>Sobre Nós</h2>
    <p>eu sou um texto que irá apresentar o nome dos integrantes da equipe, suas informações como: <br>
    redes socias, contato, idade, etc.</p>

        <img src="../static/logosintax.jpg" alt="logo Syntax Squad">
        <i class="fa fa-github"></i><a href="https://github.com/GRUPOAPIDSM2023" class="git"target="_blank">Syntax Squad</a>

{% endblock %}